[submodule "aws-lambda-cpp"]
	path = aws-lambda-cpp
	url = https://github.com/awslabs/aws-lambda-cpp.git
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "aws-sdk-cpp"]
	path = aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
